@charset 'utf-8';

@import 'globals-default';
@import 'globals-collecting';
@import 'settings';

// Collecting Together Settings

$header-font-family: 'Bagnard', sans-serif;

$topbar-background: #fff;
$button-background-hover: $secondary-color;

@import 'foundation-core';
@import 'omeka';

.button,
a.button,
button,
[type="submit"] {
  font-family: $header-font-family;

  &:hover {
    color: $primary-color;
  }
  
  &:before {
    display: inline-block;
    margin-right: .25 * $global-margin;
  }
}

a.button {
  text-decoration: none;  
}

a {
  color: $primary-color;
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
    background-color: $secondary-color;
  }
}

.menu .active > a {
  background-color: transparent;
  text-decoration: underline;
  color: $primary-color;
}

body {
  position: relative;
  height: 100vh;
  
  &:before {
    content: "";
    background: url('../img/trianglepattern.jpg');
    background-size: 70px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
  }
}

header {
  border-bottom: 3px solid $primary-color;
  margin-bottom: 4 * $global-margin;
}

a.site-title {
  text-decoration: none;
  display: inline-block;
  margin-bottom: $global-margin;
  
  &:hover {
    background-color: $secondary-color;
  }
}

.site-title h1 {
  font-size: 3 * $global-font-size;
}

.contribute.button {
  margin-bottom: 0;
}

#content {
  background-color: #fff;
}

.toc-block {
  background-color: transparent;
  font-family: $header-font-family;
}

.find-a-collecting-project #blocks {
  width: 100%;
}

.find-a-collecting-project #blocks > p {
  max-width: 75%;
}

#collecting-together-form {
  width: 30%;
  float: left;
  margin-top: $global-margin;
  padding-right: $global-padding;
  position: sticky;
  top: $global-margin;
}

#collecting-together-form label {
  font-size: 1.125 * $global-font-size;
}

#collecting-together-form select {
  max-width: 100%;
}

#collecting-together-projects {
  width: 70%;
  float: right;
  padding: 0 $global-padding;
  margin-top: $global-margin;
}

.results-copy {
  font-size: 1.25 * $global-font-size;
  background-color: $secondary-color;
  padding: (.25 * $global-padding) $global-padding;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: $global-margin;
}

#collecting-together-projects .project {
  margin-bottom: 2 * $global-margin;
  overflow: hidden;
}

#collecting-together-projects .title {
  font-size: 1.5 * $global-font-size;
  font-weight: bold;
  margin-bottom: 0;
}

#collecting-together-projects .institution, 
#collecting-together-projects .description {
  margin-bottom: 0;
}

#collecting-together-projects .project-meta {
  width: 75%;
}

#collecting-together-projects .logo {
  float: right;
  width: 25%;
  text-align: center;
}

#collecting-together-projects .logo img {
  max-height: 6 * $global-padding;
  width: auto;
}

#collecting-together-projects .links a:before {
  display: inline-block;
  margin-right: .25 * $global-margin;
}

.resource.show .institution {
  margin-bottom: 0;
}

.resource.show .property {
  margin-bottom: $global-margin;
}

.resource.show .property h4 {
  font-size: 1.125 * $global-font-size;
  margin-bottom: 0;
}

.resource.show .resource-link {
  display: inline-flex;
}

.item.show .institution img {
  height: 3 * $global-padding;
  width: auto;
  margin-right: .5 * $global-margin;
}